.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97.5vw;
  margin: 10px;
  height: 100vh;
  background-color: #f4f4f9;
  color: black;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.group-by-options,
.sort-by-options {
  margin-right: 20px;
}
.avatar{
  height: 35px;
  width: 35px;
}

.board {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f4f4f9;
}

.board-column {
  flex: 1;
  margin-right: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.board-column:last-child {
  margin-right: 0;
}

.column-header {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  justify-content: space-between;
}

.column-header-info {
  display: flex;
  align-items: center;
}

.column-title {
  color: #000000;
  font-size: 19px;
}

.column-count {
  margin-left: 20px;
  color: rgb(191, 177, 177);
  font-size: 19px;
}

.column-actions {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.column-actions img {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}
